@import "./_base.scss";

body {
  background: url(../assets/background.png) repeat;
}

.container {
  display: flex;
  justify-content: center;

  .MuiPaper-root {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
}

.days-layout,
.weekdays-names-layout {
  .month-day {
    border: solid 1px $deep-white;
    cursor: pointer;
    display: flex;
    padding-left: 1rem;

    &:hover {
      background-color: $deep-white;
    }
  }

  h2 {
    border: solid 1px $deep-white;
    font-size: 1.2rem;
    margin: unset;
    padding-left: 1rem;
  }
}

.weekdays-names-layout {
  background-color: $almost-red;
  display: grid;
  grid-template-columns: repeat(7, 100px);
}

.days-layout {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(7, 100px);
}

.calendar-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
